<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Success</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="assets/img/logo1.png" rel="icon">
    <!-- Favicons -->
    <link href="assets/img/logo1.png" rel="icon" />

    <!-- Bootstrap CSS File -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Libraries CSS Files -->

    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap"
      rel="stylesheet"
    />
    <!-- Main Stylesheet File -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <style>
      i {
        color: #9abc66;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
      }
      h1 {
        color: #88b04b;

        font-weight: 900;
        font-size: 240%;
        margin-bottom: 5%;
      }
      .container {
        position: relative;
        text-align: center;
      }
      .centereed {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>

  <body>
    <center>
      <section id="contact" class="wow fadeInUp">
        <div class="container">
          <div
            style="
              border-radius: 200px;
              height: 200px;
              width: 200px;
              background: #f8faf5;
              margin: 0 auto;
            "
          >
            <div class="container">
              <div class="centereed">
                <br /><br /><br /><br /><br /><br /><br /><br />
                <i class="checkmark">✓</i>
              </div>
            </div>
          </div>
          <h1>Thank you!</h1>
          <p class="font-weight-bold" >Your submission is recieved and we will contact you soon</p>
          <div class="form">
            <form name="" action="https://www.oratorlpu.tech/"  role="form">
              <div class="text-center">
                <button
                  type="submit"
                  style="
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 1.2);
                    border: none;
                    border-radius: 20px;
                    width: 150px;
                    height: 40px;
                  "
                >
                  Go to Home Page
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </center>
  </body>
</html>
